body{
    margin: 0;
}

.page_banner{
    object-fit: cover;
    width: 100%;
    height: 300px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
.nav_bar{
    height: 50px;
}
.logo{
    padding: 10px;
    margin: 10px 0 10px 0;
    height: 30px;
}
.nav_links{
    float: right;
    padding: 10px;
    margin-right: 30px;
}
.nav_bar a{
    margin-right: 20px;
    text-decoration: none ;
    color: black;
}
#explanation{
    font-family:Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    margin-top: 30px;
}
.description{
    
    display: flex;
    margin: auto;
    width: 70%;
    padding: 10px;
}

p{
    margin: 0;
}
.explaination{
    width: 50%;
    padding: 10px;
    margin-right : 20px;
    
    
    

}
.image{
    width: 50%;
    padding: 10px;
    margin-left: 20px;
    text-align: center;

}
.swathi_potrait{
   width: 50%;
   border-radius: 250px;
   
}

footer{
    background-color: rgb(36, 59, 37);
    padding: 70px;
    text-align: center;

}
